RewriteEngine On

# Reescreve URLs sem .php e sem index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ $1.php [L]

# Define index.php como o arquivo padrão
DirectoryIndex index.php
